<!DOCTYPE html>
<html lang="en">
<!-- {% load static %}
{% block school_login_head %}
{% load static %} -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirish &Lopf;&ofr;&gfr;&ifr;&nfr;</title>

    <link rel="stylesheet" href="css/login.css">
    <script src="css/login.js"></script>


</head>
<!-- {% endblock school_login_head %} -->

<body>

    <section class="login-card">
        <div class="login-body">
            <div class="login-img">
                <img src="img\login\3784896.png" alt="">
            </div>
            <hr>
            <p class="login-instruction">Shaxsiy username va parolingizni kiriting.</p>
            <form action="student.html" method="">
                <!-- {% csrf_token %} -->
                <section class="form-section">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <img src="img\login\user-solid.png" alt="" srcset="">
                            </span>
                        </div>
                        <input name="" class="form-control" placeholder="username" type="text" autofocus
                            autocomplete="username">
                    </div> <!-- input-group.// -->
                </section> <!-- form-section// -->
                <section class="form-section">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <img src="img\login\key-solid.png" alt="" srcset=""> </span>
                        </div>
                        <input class="form-control" placeholder="********" type="password"
                            autocomplete="current-password">
                    </div> <!-- input-group.// -->
                </section> <!-- form-section// -->
                <section class="form-section">
                    <button type="submit" class="btn btn-primary
                                btn-block">Kirish
                    </button>
                </section> <!-- form-section// -->
                <p class="forgot-password"><a href="#" class="btn">Parolni unutdizmi?</a></p>
            </form>
        </div>
        </loginn>

</body>

</html>